$first-height-breakpoint: 750px;
$second-height-breakpoint: 600px;
$third-height-breakpoint: 550px;
$fourth-height-breakpoint: 500px;

$first-width-breakpoint: 800px;
$second-width-breakpoint: 600px;
$third-width-breakpoint: 380px;
$fourth-width-breakpoint: 321px;